/* -------WHOLE APP------- */
html {
  min-width: 370px;
  background-image: linear-gradient(to bottom right, #0080d5, #47c5fd);
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 12vh auto;
  grid-template-areas:
    "header"
    "main";
}

.under-header {
  grid-area: main;
  height: auto;
}

main {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-items: center;
  position: absolute;
  width: 100%;
}

.link {
  text-decoration: none;
  width: min-content;
}

.link,
.rev-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s;
  border-radius: 10px;
}

.rev-card {
  width: 100%;
}

.link:hover {
  opacity: 0.5;
}
/* -------HEADER------- */
.header {
  z-index: 1000;
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe600;
  box-shadow: 0 0 10px 5px grey;
}

.header-content {
  height: 10vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

#user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f52942;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  font-size: 0.8em;
  font-weight: 600;
  color: aliceblue;
}

.logout {
  position: fixed;
  z-index: 1000;
  margin-top: -7.4vh;
  border-radius: 3px;
  background-color: #47c5fd;
  color: black;
  font-size: 0.8em;
  font-weight: 600;
  right: 11vh;
}

/* -------LOGIN PAGE------- */
.login-page {
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#user-heading {
  margin-top: 0;
  margin-bottom: 3rem;
}

/* -------CARD------- */
.fancy-card {
  background-color: #f52942;
  width: 80%;
  max-width: 500px;
  margin: 1rem 0 1rem 0;
  box-shadow: 0 0 10px 5px grey;
  border-radius: 10px;
}

.review-image {
  width: 30vw;
  height: 30vw;
  margin: 1rem;
  border-radius: 5% 40% 20% 5%;
  background-size: cover;
  max-width: 185px;
  max-height: 185px;
}

.review-sub-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-sub-two {
  padding-bottom: 1rem;
  margin: 2rem;
}

.review-body {
  padding: 0 2rem;
  text-align: justify;
}

.vote-button {
  font-size: 2em;
  padding: 0.2rem;
  border-radius: 20%;
  background-color: #ffe600;
}

.vote-button:hover {
  background-color: #f52942;
  cursor: pointer;
}

.large-image {
  width: 80%;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  height: 88vh;
  margin-top: 10px;
  margin-left: 20px;
}

.popout {
  background-color: rgb(46, 46, 46);
  margin-top: 10px;
  opacity: 0.95;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}
.sidenav-close,
.sidenav-open {
  height: 8vh;
  width: 8vh;
}
